<div class="row">
    <div class="col-md-3">
        <div class="card card-body bg-primary text-white mb-3">
            <label for="">Total Order</label>
            <h1>4</h1>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body bg-secondary text-white mb-3">
            <label for="">Total Order</label>
            <h1>4</h1>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body bg-warning text-white mb-3">
            <label for="">Total Order</label>
            <h1>4</h1>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body bg-danger text-white mb-3">
            <label for="">Total Order</label>
            <h1>4</h1>
        </div>
    </div>
</div>