
<mat-card>
  <mat-card-header>
    <mat-card-content>
      user form
    </mat-card-content>
  </mat-card-header>
<mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100 example-full-width" appearance="outline">
              <mat-label>firstname</mat-label>
              <input matInput placeholder="firstname" formControlName="firstname" >
            </mat-form-field>
        </div>
        
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="outline">
                <mat-label>lastname</mat-label>
                <input matInput placeholder="lastname" formControlName="lastname">
              </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="email" formControlName="email">
              </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput placeholder="password" formControlName="password">
              </mat-form-field>
          </div>
          
        
      </div>
      <button mat-raised-button color="primary" [disabled]="signupForm.invalid"><mat-icon>save</mat-icon>save</button>

      </form>
  </mat-card-content>

</mat-card>