
  <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <mat-icon>supervisor_account</mat-icon>
        <span class="count-numbers">{{total}}</span>
        <span class="count-name"> Users</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <mat-icon>file_copy</mat-icon>
        <span class="count-numbers">599</span>
        <span class="count-name">Documents</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <mat-icon>dashboard</mat-icon>
        <span class="count-numbers">6875</span>
        <span class="count-name">Total Appointment</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <mat-icon>supervised_user_circle</mat-icon>
        <span class="count-numbers">35</span>
        <span class="count-name">Applicants</span>
      </div>
    </div>
  </div>

  
